.navbar-inverse {
  opacity: 0.9;
}

#nav-title {
  color: #fff;
}

#menu > li> a.btn.navbar-btn {
    color: #C0C0C0;
}

#menu > li> a.btn.navbar-btn:hover {
    color: #fff;
}

#menu > li {
  list-style-type: none;
  display: inline-block;
  vertical-align: center;
  float: right;
}

.navbar-text {
  text-align: center;
}


#content {
  margin-top: 50px;
}

th {
  text-align: center;
}



.new-btn {
  margin-top: 10px;
}

.form-group {
  vertical-align: middle;
}

.notice, .alert {
  padding: 5px;
  text-align: center;
  margin: 5px;
}