#new-restaurant-btn{
  margin-top: 10px;
  margin-right: 10px;
}

a.btn.glyphicon> .glyphicon-plus, .glyphicon-pencil, .glyphicon-trash {
  color: black;
  
}

a.btn.glyphicon> .glyphicon-plus:hover, .glyphicon-pencil:hover, .glyphicon-trash:hover {
  color: #CE0000;
}

#paginate {
  text-align: center
}

.notice {
  margin-top: 10px;
}

#restaurant-table > tbody > tr > td, #category-table > tbody > tr > td {
  text-align: center;
}

.breadcrumb {
  margin: 10px 0 5px 0;
  background-color: #fff;
  text-align: left;
}

/* category */

#new_category {
  margin-right: 10px;
}

/*user-index*/

.all-restaurant {
  margin-top: 20px
}

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
  
  text-overflow: ellipsis;
}

.restaurant-imgbox {
  width: 100%;
  overflow: hidden;
}

.imgbox-inner {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.restaurant-item .restaurant-imgbox img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}


.restaurant-item .caption {
  padding: 0 10px;
  
}

.restaurant-discription {
  margin-top: 10px;
  max-height: 40px;
  overflow: hidden;
}

.nav-pills-center {
  text-align: center;
  margin-top: 10px;
}

.nav-pills-center > li {
   float: none;
   display: inline-block;
}

/* feeds */

.nav-tabs {
  margin-top: 10px;
}