#new-restaurant-btn{
  margin-top: 10px;
  margin-right: 10px;
  vertical-align: center;
}

a.btn.glyphicon> .glyphicon-plus, .glyphicon-pencil, .glyphicon-trash {
  color: black;
  
}

a.btn.glyphicon> .glyphicon-plus:hover, .glyphicon-pencil:hover, .glyphicon-trash:hover {
  color: #CE0000;
}

#paginate {
  text-align: center
}

.notice {
  margin-top: 10px;
}

