#show-tabel {
  margin-top: 10px;
}
#show-tabel> tbody >tr >td {
  vertical-align: middle;
}

#table-submit {
  float: right;
  margin-bottom: 25px;
}

.show-item {
  margin-top: 5px;
}

.show-header {
  margin-left: 10px;
}

.show-header .label, .show-header h1 {
  display: inline-block;
}

.show-header .label {
  margin-left: 10px;
}

.show-header .heart-btn {
  float: right;
  margin: 30px 10px 0 0;
  text-decoration: none;
  font-size: 20px;
  color: red; 
}

.dashboard-btn {
  float: right;
  margin: 30px 5px 0 0;
  font-size: 20px; 
  color: black;
}

.restaurant-imgbox > .imgbox-inner > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.show-item {
  vertical-align: middle;
}

.comment-form {
  margin-top: 20px;
  margin-bottom: 25px;
}

.comment-form .form-group .btn {
  float: right;
  margin-right: 5px;
}

/* user show */

#user-item {
  margin-top: 20px;
  
  text-overflow: ellipsis;
}

.user-imgbox {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;

  overflow: hidden;
}

.user-imgbox-inner {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

#user-item .user-imgbox img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/*user show commented restaurant*/

.my-restaurant {
  margin-bottom: 10px;
  text-overflow: ellipsis;
}

.my-restaurant-imgbox {
  padding: 4px;
  overflow: hidden;
}

.my-restaurant-imgbox-inner {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.my-restaurant .my-restaurant-imgbox img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.my-restaurant-name {
  margin-top: 2px;
}