#show-tabel {
  margin-top: 10px;
}
#show-tabel> tbody >tr >td {
  vertical-align: middle;
}

#table-submit {
  float: right;
  margin-bottom: 25px;
}

.show-item {
  margin-top: 5px;
}

.show-header {
  margin-left: 10px;
  margin-bottom: 10px; 
}

.show-header h1 {
  float: left;
  display: inline-block;
  margin-bottom: 0px;
}

.show-header .label {
  float: left;
  display: inline-block;
  margin: 34px 0 10px 7px;
  padding-top: 5px;
}

.show-header a {
  text-decoration: none;
}

.show-header .thumb-show {
  margin: 34px 0 0 10px;
  text-decoration: none;
  font-size: 20px;
  color: #3F5896; 
}

.show-header .thumb-transt {
  margin: 34px 0 0 10px;
  text-decoration: none;
  font-size: 20px;
  color: #ADADAD; 
}

.like-count-show {
  padding-bottom: 3px;
  color:  #3F5896; 
  font-size: 16px;
}

.like-count-transt {
  padding-bottom: 5px;
  color: #ADADAD;
  font-size: 16px; 
}

.show-header .heart-btn {
  float: right;
  margin: 34px 10px 0 0;
  text-decoration: none;
  font-size: 20px;
  color: red; 
}

.show-header .heart-btn-empty {
  float: right;
  margin: 34px 10px 0 0;
  text-decoration: none;
  font-size: 20px;
  color: #ADADAD;
}

.show-header .dashboard-btn {
  float: right;
  margin: 34px 5px 0 0;
  text-decoration: none;
  font-size: 20px; 
  color: black;
}

.restaurant-imgbox > .imgbox-inner > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.show-item {
  vertical-align: middle;
}

.comment-form {
  margin-top: 20px;
  margin-bottom: 25px;
}

.comment-form .form-group .btn {
  float: right;
  margin-right: 5px;
}

/* user show */

.user-item {
  margin-top: 20px;
  
  text-overflow: ellipsis;
}

.user-imgbox {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;

  overflow: hidden;
}

.user-imgbox-inner {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.user-item .user-imgbox img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.user-item .user-header .follow-btn-show, .user-item .user-header .follow-btn-transt {
  font-size: 20px;
  margin: 25px 5px 0 0;
}


/*user show commented restaurant*/

.my-restaurant {
  margin-bottom: 10px;
  text-overflow: ellipsis;
}

.my-restaurant-imgbox {
  padding: 4px;
  overflow: hidden;
}

.my-restaurant-imgbox-inner {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.my-restaurant .my-restaurant-imgbox img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.my-restaurant-name {
  margin-top: 2px;
}

/* friend btn */

.friend-btn, .friend-label {
  vertical-align: middle;
  margin: 0 0 10px 10px;
  display: inline-block;
}

.friend-btn .btn {
  border: 1px solid;
}

.friend-btn a {
  vertical-align: middle;
  text-align: center;
}

.friend-label .label {
  padding: 5px 10px 8px 10px;
}