.navbar-inverse {
  opacity: 0.9;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}
.menu > li > a {
    color: #C0C0C0;
}

.menu > li > a:hover {
    color: #fff;
}
.container {
  width: 800px;
}

.menu > li {
  list-style-type: none;
  display: inline-block;
  float: right;
  vertical-align: center;
}

#new-restaurant-btn > .glyphicon-plus {
  text-decoration: none;
}


#paginate {
  margin: 0 auto;
}